* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

header {
  background-color: #fff;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 10;
}

header p a {
  font-size: min(4vw, 24px);
  /* font-size: 24px; */
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #777;
  font-size: min(3vw, 16px);
  font-weight: 600;
  padding: 20px 1.5vw 19px;
  transition: 0.3s;
}

nav ul li a:hover {
  background-color: #ccc;
}

nav ul .submenu {
  display: none;
  background-color: white;
  position: absolute;
  top: 40px;
  left: 0;
}

nav ul .dropdown:hover .submenu {
  display: unset;
}

nav ul .submenu ul {
  flex-direction: column;
}

nav ul .submenu ul li {
  padding: 0;
}

nav ul .submenu ul li a {
  display: block;
}

nav ul .submenu ul li a:hover {
  background-color: #333;
  color: white;
}

section {
  color: #333;
}

#main {
  position: relative;
}

#main::after {
  content: attr(txt);
  position: absolute;
  color: white;
  bottom: 20%;
  left: 15%;
  padding: 1.5vw;
  width: 45%;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 2vw;
}

#main img {
  width: 100%;
  animation: images 0.3s;
}

#main a {
  display: inline-block;
  position: absolute;
  top: 45%;
  text-decoration: none;
  font-size: 3vw;
  border: 0.2vw solid white;
  color: white;
  border-radius: 50%;
  padding: 0px;
  width: 3.6vw;
  height: 3.6vw;
  text-align: center;
  line-height: 3vw;
}

#main a:hover {
  background-color: white;
  color: #333;
  border: 0.2vw solid #333;
}

#main .prev {
  left: 0.5vw;
}

#main .next {
  right: 0.5vw;
}

@keyframes images {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#main .dots-img {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 5%;
}

#main .dots-img .dots {
  display: inline-block;
  width: 1.3vw;
  height: 1.3vw;
  border: 0.2vw solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

#main .dots-img .dots:hover {
  border: 0.2vw solid #fff;
}

#values h1 {
  margin: 7vw 0 3vw;
  text-align: center;
  font-size: min(24px, 3.6vw);
}

#values .values-box {
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 3vw;
}

#values .values-box .card {
  width: 300px;
  min-width: 200px;
  margin: 0 15px;
  padding: 20px 10px 10px;
  text-align: center;
  position: relative;
}

#values .values-box .card img {
  height: min(3.5vw, 25px);
}

#values .values-box .card h3 {
  margin: 1vw;
  font-size: min(18px, 2.7vw);
}

#values .values-box .card p {
  margin: 2vw;
  font-size: min(14px, 2.1vw);
}

#values .card-1 {
  background-color: #ea7c6f;
  border: 3px solid #e25242;
}

#values .card-2 {
  background-color: #6a996f;
  border: 3px solid #567b59;
}

#values .card-3 {
  background-color: #5696c2;
  border: 3px solid #3a7ba7;
}

#values :is(.card-1, .card-2)::after {
  content: "";
  border: 20px solid transparent;
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
}

#values .card-1::after {
  border-left-color: #e25242;
}

#values .card-2::after {
  border-left-color: #567b59;
}

#contact h1 {
  margin-top: 12vw;
  text-align: center;
  font-size: min(24px, 3.6vw);
}

#contact form {
  margin: auto;
  padding: 5vw;
  padding-top: 2vw;
  width: 50%;
  height: 80%;
  border-radius: 10px;
}

#contact label {
  display: block;
  margin: 1.5vw 0;
  font-size: min(1.2rem, 2.8vw);
}

#contact :is(input, textarea, :is(:focus)) {
  font-size: min(1rem, 2.3vw);
  margin-top: 1vw;
  width: calc(100% - 2.3vw);
  padding: 1vw;
  border-radius: 5px;
  border: 1px solid #777;
}

#contact :is(input, textarea, :is(:focus)):invalid {
  border: 1px solid #e25242;
  outline: none;
}

#contact :is(input, textarea, :is(:focus)):invalid ~ .alert {
  display: unset;
}

#contact .alert {
  display: none;
  color: #e25242;
  font-size: min(1rem, 2.3vw);
}

#contact #submit {
  width: 100%;
  padding: 1vw;
  background-color: #5696c2;
  border: 1px solid #3a7ba7;
  color: white;
  font-size: min(1.2rem, 2.8vw);
  cursor: pointer;
}

footer {
  background-color: #333;
  color: white;
  padding: min(3vw, 30px);
  margin-top: min(3vw, 30px);
}

footer p {
  text-align: center;
  font-size: min(2.4vw, 1rem);
}

footer .socmed {
  text-align: center;
}

footer .socmed img {
  margin: 2vw 0.5vw 0;
  height: min(3vw, 30px);
}

@media screen and (max-width: 700px) {
  #values .values-box {
    flex-direction: column;
    align-items: center;
  }

  #values .values-box .card {
    width: 80%;
    margin: 15px 0;
    text-align: center;
  }

  #values :is(.card-1, .card-2)::after {
    content: "";
    border: 20px solid transparent;
    position: absolute;
    right: 50%;
    top: 100%;
    transform: translateX(50%);
  }

  #values .card-1::after {
    border-top-color: #e25242;
  }

  #values .card-2::after {
    border-top-color: #567b59;
  }

  #contact form {
    width: 70%;
  }
}
